/* ====== 960px ====== */

/* GRID */
.wrap{
    width: 960px;
}

.col-1{
    width: 60px;
}

.col-2{
    width: 140px;
}

.col-3{
    width: 220px;
}

.col-4{
    width: 300px;
}

.col-5{
    width: 380px;
}

.col-6{
    width: 460px;
}

.col-7{
    width: 540px;
}

.col-8{
    width: 620px;
}

.col-9{
    width: 700px;
}

.col-10{
    width: 780px;
}

.col-11{
    width: 860px;
}

.col-12{
    width: 940px;
}


.col-1-full{
    width: 80px;
}

.col-2-full{
    width: 160px;
}

.col-3-full{
    width: 240px;
}

.col-4-full{
    width: 320px;
}

.col-5-full{
    width: 400px;
}

.col-6-full{
    width: 480px;
}

.col-7-full{
    width: 560px;
}

.col-8-full{
    width: 640px;
}

.col-9-full{
    width: 720px;
}

.col-10-full{
    width: 800px;
}

.col-11-full{
    width: 880px;
}

.col-12-full{
    width: 960px;
}


.col-offset-1{
    margin-left: 90px;
}

.col-offset-2{
    margin-left: 170px;
}

.col-offset-3{
    margin-left: 250px;
}

.col-offset-4{
    margin-left: 330px;
}

.col-offset-5{
    margin-left: 410px;
}

.col-offset-6{
    margin-left: 490px;
}

.col-offset-7{
    margin-left: 570px;
}

.col-offset-8{
    margin-left: 650px;
}

.col-offset-9{
    margin-left: 730px;
}

.col-offset-10{
    margin-left: 810px;
}

.col-offset-11{
    margin-left: 890px;
}






/* PAGE STYLES */

