<!-- Modal -->
<div class="modal fade" id="modalPricing" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Тарифы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="text-right">(руб.)</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Период предоплаты</th>
              <th class="text-right">Бесплатный&nbsp;тариф</th>
              <th class="text-right">Тариф&nbsp;2</th>
              <th class="text-right">Тариф&nbsp;3</th>
              <th class="text-right">Тариф&nbsp;4</th>
              <th class="text-right">Тариф&nbsp;5</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><i>Максимальное количество запросов (в месяц) по тарифу</i></th>
              <td class="text-right"><i>200</i></td>
              <td class="text-right"><i>5&nbsp;000</i></td>
              <td class="text-right"><i>15&nbsp;000</i></td>
              <td class="text-right"><i>50&nbsp;000</i></td>
              <td class="text-right"><i>200&nbsp;000</i></td>
            </tr>
            <tr>
              <th scope="row">1 месяц</th>
              <td class="text-right">Отсутствует</td>
              <td class="text-right">15&nbsp;000</td>
              <td class="text-right">30&nbsp;000</td>
              <td class="text-right">50&nbsp;000</td>
              <td class="text-right">100&nbsp;000</td>
            </tr>
            <tr>
              <th scope="row">6 месяцев</th>
              <td class="text-right">Отсутствует</td>
              <td class="text-right">82&nbsp;500</td>
              <td class="text-right">165&nbsp;000</td>
              <td class="text-right">275&nbsp;000</td>
              <td class="text-right">550&nbsp;000</td>
            </tr>
            <tr>
              <th scope="row">12 месяцев</th>
              <td class="text-right">Отсутствует</td>
              <td class="text-right">150&nbsp;000</td>
              <td class="text-right">300&nbsp;000</td>
              <td class="text-right">500&nbsp;000</td>
              <td class="text-right">1&nbsp;000&nbsp;000</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->