<!-- Modal -->
<div class="modal fade" id="modalGov" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Госзакупки и госконтракты</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <p>В рамках доступа к базе данных по государственным закупкам и государственным контрактам предоставляются следующие блоки информации (для 44-ФЗ и 223-ФЗ, если не указано иное):</p>

        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Контракты / договора</th>
              <td>
                <ul>
                  <li>Общая информация о контракте/договоре (стадия исполнения, регион, основание, дата подписания, сумма, закупка, дата публикации, реестровый номер, даты начала и завершения, валюта, тип размещения)</li>
                  <li>Процедура контракта (уплата банковской гарантии, неустойки, страна происхождения товара, расторжение)</li>
                  <li>Информация о заказчике (ИНН, КПП, реестровый номер, наименование, почтовый адрес)</li>
                  <li>Информация о поставщиках (ИНН, КПП, наименование, адрес, форма организации)</li>
                  <li>Информация о закупаемых продуктах (описание, единица измерения, цена за ед., количество, сумма за все единицы, код товара/работы/услуги по ОКДП/ОКПД/ОКПД2</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Извещения</th>
              <td>
                <ul>
                  <li>Номер закупки, регион, дата направления документа, дата публикации, информация о процедуре закупки, информация об аукционной документации, объект закупки, классификация по ОКПД2/ОКВЭД2, суммарный максимальный размер оплаты по всем лотам, подспособ определения поставщика, контрактный управляющий, осуществляющая закупку организация</li>
                  <li>Номер извещения, регион, дата и место аукциона, статус извещения, способ закупки, наименование закупки, обоснование внесения изменений, информация о контрактном лице, данные заказчика, данные создавшей извещение о закупке организации</li>
                </ul>
              </td>
            </tr>
            <tr>
              <th scope="row">Заказчики</th>
              <td>ИНН, КПП, ОГРН, ОКОПФ, ОКПО, ОКТМО, электронный адрес, почтовый адрес, дата постановки на учет в налоговом органе</td>
            </tr>
            <tr>
              <th scope="row">Поставщики</th>
              <td>ИНН, КПП, ОКПО, ОКТМО, правовая форма (ОКОПФ), наименование (юр. лица), ФИО (для ИП и физлиц), дата регистрации юрлица, почтовый адрес, контактная информация, код региона</td>
            </tr>
            <tr>
              <th scope="row">Планы-графики (44-ФЗ)</th>
              <td>Общая информация по плану-графику (руководитель, общий объем фин. обеспечения), дата утверждения, создания и публикации, информация о заказчике, описание плана-графика, сведения об организации-владельце версии плана, роль организации-владельца версии плана, реестровый номер плана-графика, код региона, сведения об исполнителе (ответственного за формирование плана-графика), суммарный максимальный размер оплаты по плану-графику, совокупный годовой объем закупок, всего закупок, планируемых в текущем году, объем закупок у единственного поставщика, общая сумма начальных (максимальных) цен контрактов, осуществляемых путем запроса котировок, номер версии плана-графика, год плана-графика</td>
            </tr>
            <tr>
              <th scope="row">Планы закупок (223-ФЗ)</th>
              <td>Глобальный идентификатор плана закупки, регистрационный номер плана, данные заказчика, наименование плана закупки, дата утверждения, начала и окончания действия плана, обоснование внесения изменений, годовой объем закупок с участниками - субъектами малого и среднего предпринимательства, совокупный годовой объем планируемых закупок товаров (работ, услуг), отчетный год</td>
            </tr>
            <tr>
              <th scope="row">Банковские гарантии (44-ФЗ)</th>
              <td>Идентификатор документа ЕИС, номер реестровой записи банковской гарантии, дата размещения документа, сведения о выдавшем гарантиюбанке, сведения о разместившей гарантиюорганизации (филиале банка), информация о поставщике, информация о банковской гарантии, порядковый номер лота, номер реестровой записи контракта, сведения о заказчике, дата выдачи банковской гарантии, дата окончания срока действия банковской гарантии, валюта, сумма в рублях, курс валюты по отношению к рублю</td>
            </tr>
            <tr>
              <th scope="row">Субподрядчики (223-ФЗ)</th>
              <td>Регистрационный номер сведений о договоре с субподрядчиком, условие начала исполнения договора, данные заказчика, данные размещающей сведенияорганизации, обоснование изменений, регистрационный номер договора, сведения о поставщике, дата заключения договора, предмет договора, номер договора с субподрядчиком, дата заключения договора с субподрядчиком, цена договора, дата начала и окончания исполнения договора,сведения о субподрядчике</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->