<!-- Modal -->
<div class="modal fade" id="modalFinance" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Государственные финансы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <p>В рамках доступа к базе данных по государственным финансам предоставляются следующие блоки информации:</p>

        <table class="table">
        <tbody>
         <tr><td>Информация о показателях бюджетной сметы</td></tr>
         <tr><td>Информация о результатах деятельности и об использовании имущества</td></tr>
         <tr><td>Информация об операциях с целевыми средствами из бюджета</td></tr>
         <tr><td>Иная информация об учреждении</td></tr>
         <tr><td>Информация о плане финансово-хозяйственной деятельности</td></tr>
         <tr><td>Общая информация об учреждении</td></tr>
         <tr><td>Сведения о проведенных в отношении учреждения контрольных мероприятиях и их результатах</td></tr>
         <tr><td>Информация о государственном (муниципальном) задании</td></tr>
         <tr><td>Отчет о финансовых результатах деятельности (ф.0503121)</td></tr>
         <tr><td>Отчет об исполнении бюджета (ф.0503127)</td></tr>
         <tr><td>Баланс (ф.0503130)</td></tr>
         <tr><td>Отчет об исполнении смет доходов и расходов по приносящей доход деятельности (ф.0503137)</td></tr>
         <tr><td>Отчет о финансовых результатах деятельности учреждения (ф.0503721)</td></tr>
         <tr><td>Баланс государственного (муниципального) учреждения (ф.0503730)</td></tr>
         <tr><td>Отчет об исполнении учреждением плана его финансово-хозяйственной деятельности (ф.0503737)</td></tr>
         <tr><td>Перечень государственных (муниципальных) учреждений</td></tr>
         <tr><td>Перечни государственных (муниципальных) услуг (работ)</td></tr>
        </tbody></table>

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->