<!-- Modal -->
<div class="modal fade" id="modalOrganization" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Организации</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <p>В рамках доступа к базе данных по организациям предоставляются следующие блоки информации:</p>

        <table class="table">
        <tbody>
          <tr><th scope="row">Данные из ЕГРЮЛ</th><td>ЕГРЮЛ</td></tr>
          <tr><th scope="row">Бухгалтерские балансы юр. лиц</th><td>Росстат</td></tr>
          <tr><th scope="row">Статрегистр юридических лиц</th><td>Росстат</td></tr>
          <tr><th scope="row">Реестр малого и среднего бизнеса</th><td>ФНС России</td></tr>
          <tr><th scope="row">Реестр участников и неучастников бюджетного процесса</th><td>Единый портал бюджетной системы (ЕПБС)</td></tr>
          <tr><th scope="row">Реестр субсидий из федерального бюджета</th><td>Единый портал бюджетной системы (ЕПБС)</td></tr>
          <tr><th scope="row">Реестр федеральных государственных контрактов 2007-2011 года</th><td>Федеральное Казначейство</td></tr>
          <tr><th scope="row">Реестр документов стратегического планирования (метаданные)</th><td>ГАС Управление</td></tr>
          <tr><th scope="row">Реестр документов стратегического планирования (документы)</th><td>ГАС Управление</td></tr>
          <tr><th scope="row">Правовые акты Федеральной антимонопольной службы</th><td>ФАС России</td></tr>
          <tr><th scope="row">Реестр плановых проверок юридических лиц</th><td>Генпрокуратура РФ</td></tr>
          <tr><th scope="row">Реестр прошедших проверок юридических лиц</th><td>Генпрокуратура РФ</td></tr>
          <tr><th scope="row">База межгосударственных организаций</th><td>Разрозненные источники</td></tr>
        </tbody></table>

      </div>
    </div>
  </div>
</div>
<!-- END Modal -->